* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 10px;
  background-color: white;
}

.wrapper {
  /*margin-top: 10px;*/
  position: relative;
  background-color: #e30a17;
  padding-top: 66.66%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.wrapper::before {
  /* content: "";*/
  position: absolute;
  top: 0;
  /* 1/45 white line*/
  width: 2.2222%;
  height: 100%;
  background-color: white;
}

.moon-out {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  bottom: 25%;
  left: 18.67%;
  height: 50%;
  width: 33.33%;
  background-color: white;
  border-radius: 50%;
}
.moon-in {
  margin-right: -2.6%;
  width: 79.8%;
  height: 79.8%;
  border-radius: 50%;
  background-color: #e30a17;
}
.moon-in::after {
  content: "";
  position: absolute;
  right: -40.4%;
  top: 25%;
  background-color: white;
  width: 49.85%;
  height: 49.85%;
  transform: rotate(54deg);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 90%,
    50% 70%,
    21% 90.8%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
